# --- Python ---
__pycache__/

.venv/
env/
venv/

# --- Données et Modèles (Souvent trop volumineux pour Git) ---

data/processed/
backend/node_modules

# --- VS Code ---
.vscode/

# --- Système ---
.DS_Store
Thumbs.db


